@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>Hello this is my about me page, I am the guy standing in the picture</p>
    <img src="images/home.jpg" alt="home" width="816" height="612"/>
    <p><br />I am a carefree guy that just likes to have fun. I enjoy learning new things constantly and really enjoy hiking, cooking, foraging and hanging out with iteresting people.</p>
</div>
