@{
    ViewData["Title"] = "Mushrooms";
}

<div class="text-center">
    <h1 class="display-4">Mushrooms</h1>
    <p>These are Mushrooms that I have found on my hiking trips</p>
</div>
<img src="../images/mushrooms/1.jpg" alt="mush1" width="350" height="400" />
<img src="../images/mushrooms/2.jpg" alt="mush2" width="350" height="400" />
<img src="../images/mushrooms/3.jpg" alt="mush3" width="350" height="400" />
<img src="../images/mushrooms/4.jpg" alt="mush4" width="350" height="400" />
<img src="../images/mushrooms/5.jpg" alt="mush5" width="350" height="400" />
<img src="../images/mushrooms/6.jpg" alt="mush6" width="350" height="400" />
<img src="../images/mushrooms/7.jpg" alt="mush7" width="350" height="400" />
<img src="../images/mushrooms/8.jpg" alt="mush8" width="350" height="400" />
<img src="../images/mushrooms/9.jpg" alt="mush9" width="350" height="400" />