
@{
    ViewData["Title"] = "NaturePhotos";
}

<div class="text-center">
    <h1 class="display-4">Nature Photo's</h1>
    <p>Pictures that I have taken during my adventures</p>
</div>
<img src="../images/nature/1.jpg" alt="nature1" width="350" height="400" />
<img src="../images/nature/2.jpg" alt="nature2" width="350" height="400" />
<img src="../images/nature/3.jpg" alt="nature3" width="350" height="400" />
<img src="../images/nature/4.jpg" alt="nature4" width="350" height="400" />
<img src="../images/nature/5.jpg" alt="nature5" width="350" height="400" />
<img src="../images/nature/6.jpg" alt="nature6" width="350" height="400" />
<img src="../images/nature/7.jpg" alt="nature7" width="350" height="400" />
<img src="../images/nature/8.jpg" alt="nature8" width="350" height="400" />
<img src="../images/nature/9.jpg" alt="nature9" width="350" height="400" />
<img src="../images/nature/10.jpg" alt="nature10" width="350" height="400" />
<img src="../images/nature/11.jpg" alt="nature11" width="350" height="400" />
<img src="../images/nature/12.jpg" alt="nature12" width="350" height="400" />
<img src="../images/nature/13.jpg" alt="nature13" width="350" height="400" />
<img src="../images/nature/14.jpg" alt="nature14" width="350" height="400" />
<img src="../images/nature/15.jpg" alt="nature15" width="350" height="400" />