@{
    ViewData["Title"] = "TopTen";
}

<div class="text-center">
    <h1>Top Ten Places To Hike In The US</h1>
    <h2><br />South Kaibab Trail in Grand Canyon National Park<br /></h2>
    <img src="../images/top10/1.jpg" alt="top1" width="800" height="600" />

    <h2><br />Ocean Trail in Acadia National Park<br /></h2>
    <img src="../images/top10/2.jpg" alt="top2" width="800" height="600" />

    <h2><br /><br />Mohonk Labyrinth and Lemon Squeeze in New Paltz</h2>
    <img src="../images/top10/3.jpg" alt="top3" width="800" height="600" />

    <h2><br /><br />Vesper Peak in North Cascades</h2>
    <img src="../images/top10/4.jpg" alt="top4" width="800" height="600" />

    <h2><br /><br />Clouds Rest in Yosemite National Park</h2>
    <img src="../images/top10/5.jpg" alt="top5" width="800" height="600" />

    <h2><br /><br />Monarch Lake to Crater Lake in Indian Peaks Wilderness</h2>
    <img src="../images/top10/6.jpg" alt="top6" width="800" height="600" />

    <h2><br /><br />Highline Trail in Glacier National Park</h2>
    <img src="../images/top10/7.jpg" alt="top7" width="800" height="600" />

    <h2><br /><br />Paria Canyon and Buckskin Gulch in Vermillion Cliffs Wilderness</h2>
    <img src="../images/top10/8.jpg" alt="top8" width="800" height="600" />

    <h2><br /><br />Teton Crest Trail in Grand Teton National Park</h2>
    <img src="../images/top10/9.jpg" alt="top9" width="800" height="600" />

    <h2><br /><br />Wonderland Trail in Mount Rainier National Park</h2>
    <img src="../images/top10/10.jpg" alt="top10" width="800" height="600" />
</div>

